<script id="entry-template" type="text/x-handlebars-template">
<!-- Modal HTML -->
<div id="reg-modal" class="modal fade">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <div class='modal-head'>
                <h4 class="modal-title">Hey {{user.first_name}}  {{user.last_name}}</h4>
            </div>
            <div class='modal-pic'>
                <img src={{user.picture.data.url}}>
            </div>
            </div>
            <div class="modal-body">
            <div class="container col-md-12">
                <div class="form-group">
                    <div class='left-col col-lg-6'>
                        <label for="phone_number">phone number</label>
                        <input class="form-control" id="phone_number" type="text">
                    </div>
                    <div class='right-col col-lg-6'>
                        <label for="email">email </label>
                        <input class="form-control" id="email" type="text" value={{user.email}}>
                    </div>
                    <div class='left-col col-lg-6'>
                        <label for="preferred_location">Preferred Locatoin</label>
                        <div class="dropdown">
                          <button class="btn btn-default dropdown-toggle" type="button" id="pref-loc-drop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <span class='loc-name'>Location</span>
                            <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu" id='pref-loc-drop-down' aria-labelledby="pref-loc-drop">
                            {{#each locations}}
                            <li>{{this}}</li>
                            {{/each}}
                          </ul>
                        </div>
                    </div>
                    <div class='right-col col-lg-6'>
                        <div class="form-group">
                            <label for="birthday">Birthday</label>
                            <div class='input-group date' id='datetimepicker1'>
                                <input type='text' class="form-control" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class='left-col col-lg-6'>
                        <label for="address">Address</label>
                        <textarea class="form-control" rows="2" id="address"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" id = 'register-user' class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>
</script>
